/* Write CSS here */
.stopwatch-bg-container {
  background-image: url('https://assets.ccbp.in/frontend/react-js/stopwatch-sm-bg.png');
  min-height: 100vh;
  background-size: cover;
  display: flex;
  justify-content: center;
}
.stopwatch-sub-container {
  width: 90%;
  display: flex;
  flex-direction: column;
  margin-top: 38px;
}

.stopwatch-heading {
  text-align: center;
  margin-bottom: 38px;
}
.timer-container {
  width: 90%;
  align-self: center;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  box-shadow: 0px 4px 16px 0px;
  border-radius: 10px;
  padding: 30px;
}
.timer-image-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.timer-image {
  height: 28px;
  width: 28px;
  margin-right: 18px;
}
.count-container {
  display: flex;
  justify-content: center;
}
.action-buttons-container {
  display: flex;
  justify-content: space-around;
}
.button-styles {
  border: none;
  font-weight: 500;
  font-size: 16px;
  color: #ffffff;
  padding: 5px 20px;
  border-radius: 5px;
  cursor: pointer;
}
.start-btn {
  background-color: #1db05f;
}
.stop-btn {
  background-color: #ef0d36;
}
.reset-btn {
  background-color: #eaa800;
}
